body {
 
 
}
.sponsorbanner {
    background-image: url(../images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsorname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    margin-top: 2%;
}

.main-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:30px;
    text-align:center;
    color:white;
    margin-bottom:3%;
}


.sponsordescription{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:24px;
   margin-top:2%;
   color:white;
   
}